<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddam.damda.images.model.mapper.BoardImageMapper">

    <insert id="insertBoardImage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board_image (
            board_id,
            file_path,
            file_name,
            file_type
        ) VALUES (
            #{boardId},
            #{filePath},
            #{fileName},
            #{fileType}
        )
    </insert>

    <select id="selectByBoardId" resultType="BoardImage">
        SELECT 
            id,
            board_id as boardId,
            file_path as filePath,
            file_name as fileName,
            file_type as fileType
        FROM board_image
        WHERE board_id = #{boardId}
    </select>

    <select id="selectById" resultType="BoardImage">
        SELECT 
            id,
            board_id as boardId,
            file_path as filePath,
            file_name as fileName,
            file_type as fileType
        FROM board_image
        WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM board_image
        WHERE id = #{id}
    </delete>

    <delete id="deleteByBoardId">
        DELETE FROM board_image
        WHERE board_id = #{boardId}
    </delete>

</mapper>