<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddam.damda.exercises.model.mapper.ExercisesMapper">

	<insert id="insertExercises">
		INSERT INTO exercises
		VALUES(#{id}, #{part}, #{name}, #{videoUrl})
	</insert>
	
	<select id="selectAllExercises" resultType="Exercises">
        SELECT exercises_id exercisesId, part, name, video_url videoUrl
        FROM exercises
    </select>
    
    <select id="selectExercisesByPart" parameterType="String" resultType="Exercises">
        SELECT exercises_id exercisesId, part, name, video_url videoUrl
        FROM exercises
        WHERE part = #{part}
    </select> 
  
</mapper>