<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddam.damda.images.model.mapper.ImageMapper">

   <insert id="save" parameterType="Image" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO images (
           file_type
       ) VALUES (
           #{fileType}
       )
   </insert>

   <update id="updateFileInfo" parameterType="Image">
       UPDATE images 
       SET file_path = #{filePath},
           file_name = #{fileName}
       WHERE id = #{id}
   </update>

   <select id="findById" parameterType="int" resultType="Image">
       SELECT *
       FROM images
       WHERE id = #{id}
   </select>

</mapper>