<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddam.damda.user.model.mapper.NoticeMapper">


	<select id="selectAllNotice" resultType="Notice">
	    SELECT id, user_id userId, content, reference_id referenceId, reference_type referenceType, created_at createdAt, is_read isRead
	    FROM notice
	    WHERE user_id = #{userId}
	    ORDER BY id DESC
	</select>
	
	<select id="selectNoticeById" resultType="Notice">
		SELECT id, user_id userId, content, reference_id referenceId, reference_type referenceType, created_at createdAt, is_read isRead
	    FROM notice
		WHERE id = #{id}
	</select>
	
	<insert id="insertNotice" parameterType="Notice" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO notice (
	        user_id,
	        content,
	        reference_id,
	        reference_type
	    ) VALUES (
	        #{userId},
	        #{content},
	        #{referenceId},
	        #{referenceType}
	    )
	</insert>

	<delete id="deleteNotice">
		DELETE FROM notice
		WHERE id = #{id}
	</delete>
	
	<update id="updateNotice">
		UPDATE notice
		SET is_read = TRUE
		WHERE id = #{id}
	</update>
	
	<select id="selectLikes" resultType="Likes">
	    SELECT id, user_id userId, board_id boardId, created_at createdAt
	    FROM likes
	    WHERE id = #{referenceId}
	</select>
	
	<select id="selectComment" resultType="Comment">
		SELECT id, user_id userId, content, board_id boardId, created_at createdAt
		FROM comment
		WHERE id = #{referenceId}
	</select>	

	<select id="selectGroupNotice" resultType="GroupNotice">
		SELECT gnotice_id gnoticeId, group_id groupId, title, content, created_at createdAt
		FROM group_notice
		WHERE gnotice_id = #{referenceId}
	</select>
</mapper>