<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddam.damda.user.model.mapper.UserMapper">

    <select id="findByEmail" parameterType="string" resultType="User">
        SELECT id, email, password, username, profile_image_id profileImageId, role
        FROM user
        WHERE email = #{email}
    </select>

    <select id="findByUsername" parameterType="string" resultType="User">
        SELECT id, email, password, username, profile_image_id profileImageId, role
        FROM user
        WHERE username = #{username}
    </select>
    
    <select id="findById" parameterType="int" resultType="User">
        SELECT id, email, password, username, profile_image_id profileImageId, role
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (email, password, username)
        VALUES (#{email}, #{password}, #{username})
    </insert>
    
    <select id="validByUsername" parameterType="string" resultType="User">
        SELECT username
        FROM user
        WHERE username = #{username}
    </select>
    
	<select id="validByEmail" parameterType="string" resultType="User">
	    SELECT email
	    FROM user
	    WHERE email = #{email}
	</select>
	
	<update id="updatePassword">
	    UPDATE user 
	    SET password = #{password}
	    WHERE email = #{email}
	</update>

    <select id="findUserNameById" parameterType="int" resultType="String">
        SELECT username
        FROM user
        WHERE id = #{id}
    </select>	
	   
  
</mapper>